.HomeLayout {
  --background: #1a1a1a;
  --background-dark: #000;
  --text-color: #fff;
  --font-family: 'Roboto', sans-serif;
  --font-size: 14px;
  --font-size-small: 12px;
  --font-size-large: 16px;
  --font-size-larger: 20px;
  --font-size-extralarge: 50px;

  font-size: var(--font-size);
}