.Search {
    position: relative;
    padding: 32px 0 0 0;
    background-color: var(--background-dark);
}

.Search__wrapper {
    height: 150px;
    width: 60%;
    margin: 0 auto;
    background: transparent url('../../images/search-image.png') no-repeat;
    background-position: 90% -45px;
    background-size: 300px;
}

.Search__title {
    width: 50%;
    font-size: var(--font-size-extralarge);
    font-weight: bold;
}

.Search__inputwrapper {
    position: absolute;
    bottom: -30px;
    width: calc(100% - 36px);
    text-align: center;
}

.Search__input {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {
    .Search__title {
        width: 100%;
    }

    .Search__wrapper {
        width: calc(100% - 64px);
        background: none;
    }

    .Search__input {
        width: calc(100% - 64px);
    }
}