.List {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    padding: 16px;
}

.List__item {
    flex: calc(20% - 16px) 0;
}

@media only screen and (max-width: 500px) {
    .List__item {
        flex: calc(100% - 16px) 0;
    }
}
